{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Quien es Jose Rodriguez?</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio magni accusamus dolore hic minus voluptatibus, explicabo possimus reiciendis expedita eum nisi soluta similique, sed tenetur excepturi eos cumque! Eius, qui.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/YopPerfil3.png" class="img-thumbnail" alt="">
        </div>
    </div>

    {{> footer }}